**
!docker/
!docker/Dockerfile
!docker/entrypoint.sh
!docker/requirements-dev.txt
!docker/ubuntu.sources
!agent-framework/
!agent-framework/pyproject.toml
!agent-framework/README.md
!agent-framework/src/
!agent-framework/src/**
!bindings/
!bindings/test/
!bindings/test/pyproject.toml
!bindings/test/src/
!bindings/test/src/**
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
